body {
    font-family: Georgia;
    width: 100vw;
    background: rgb(136, 123, 123);
    background: linear-gradient(90deg, rgb(136, 123, 123) 0%, rgb(136, 132, 132) 30%, rgb(226, 206, 206) 50%, rgb(184, 78, 78) 70%, rgb(221, 42, 42) 100%); 
}

#parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr  0.6fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#banniere {
    grid-area: 2 / 1 / 3 / 6; 
    margin-top: -108px; /* Ajustez cette valeur pour réduire l'espace */
}

#recherche { 
    grid-area: 2 / 3 / 3 / 4;
    margin-top: 5vw; 
}

.imagecat, .imageplat {
    margin-top: 5px;
    padding: 0;
    border-radius: 20%;
    border: 2px solid #bbd2db;
    width: 100%; /* Utiliser 100% pour s'assurer qu'elles occupent toute la largeur de la carte */
    height: auto; /* Assurer une proportionnalité */
    max-height: 250px; /* Spécifier une hauteur maximale pour uniformiser les cartes */
    object-fit: cover; /* Cela assurera que l'image couvre bien l'espace sans déformation */
}

.imagepanier {
    margin-top: 5px;
    padding: 0;
    width: 8vw;
    height: 13vh;
}

#video {
    width: 100%;
    object-fit: fill;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#navbot {
    width: 22vw;
    background-color: #315F72;
    border: 2px solid White;
}

button { 
    border: #315F72 1px solid;
    color: #315F72;
}

.color-315F72 {
    background-color: #315F72;
}

.textnav {
    font-size: 20px;
    font-family: Georgia;
}

.card {
    transition: 1s ease;
}

.card:hover {
    transform: scale(1.08);
    transition: 1s ease;
}

.card { 
    background-color: rgba(240, 173, 158, 0.1);
    filter: drop-shadow(0 0 0.25rem black);
}

.card-header, .card-footer {
    opacity: 1;
}

.card-title {
    color: whitesmoke;
}

.parallax {
    background-image: url("../img/video/restaurant-2618315_1920.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button.btn {
    background-color: #315F72;
}

button.btn:hover {
    background-color: #315F72;
}

.btn {
    filter: drop-shadow(0 0 0.25rem black);
    transition: all 0.25s;
}

.btn:hover {
    transform: scale(1.10);
}

@media screen and (max-width: 926px) {
    #navbot {
        margin-left: 0vw;
        width: 100vw;
    }

    .imagecat, .imageplat {
        width: 100%; /* Pour mobile, faire les images à 100% de la largeur */
    }

    .mid2 { grid-area: 1 / 1 / 5 / 5; }
    .mid4 { grid-area: 5 / 1 / 6 / 6; }
}   

@media screen and (max-width: 768px) {
    #navbot {
        width: 100vw;
    }

    .imagecat, .imageplat {
        width: 100%; /* Pour mobile, faire les images à 100% de la largeur */
    }
}
